.btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: inherit;
    outline: none;
}

.btn-link {
    border-radius: 2px;
    color: $clear;
    margin-left: -3px;
    margin-right: -3px;
    padding: 2px 5px;
    // padding-left: 3px;
    // padding-right: 3px;
    &:hover {
        background-color: $second;
    }
    &.dark-txt {
        color: $dark;
    }
}

.btn--img-container {
    background-color: $main;
    position: relative;
    overflow: hidden;
    &:hover {
        .btn--img {
            background-color: $second;
            transform:scale(1.2);
        }
    }
}
.btn--img {
    display: block;
    height: 100%;
    // transform:scale(1);
    transition: transform 0.2s;
    width: 100%;
}