.page-groupes {
}
.page-groupes--title {
    color: $main;
    padding: 5px;
}
.page-groupes--container {
    align-content: flex-start;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

$nb: 2;
$btn-height: 100vw / $nb;
$btn-width: 100% / $nb;
.btn--groupe-img-container {
    height: $btn-height;
    width: $btn-width;
    &:hover {
        .btn--groupe-title {
            padding:20px 0;
        }
        .btn--groupe-title::after {
            bottom:0;
        }
    }
}

.btn--groupe-title {
    bottom:0;
    color: $clear;
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    text-shadow: 0px 0px 10px $dark, 1px 1px 1px $dark;
    transition: padding 0.2s;
    width:100%;
    z-index: 0;
    &::after {
        background-color: $dark-60;
        bottom:-100%;
        content:"";
        height:100%;
        left:0;
        position:absolute;
        transition: bottom 0.2s;
        width:100%;
        z-index: -1;
    }
}

@media screen and (min-width:640px) {
    $nb: 3;
    $btn-height: 100vw / $nb;
    $btn-width: 100% / $nb;
    .btn--groupe-img-container {
        height: $btn-height;
        width: $btn-width;
    }
}

@media screen and (min-width:960px) {
    $nb: 4;
    $btn-height: 100vw / $nb;
    $btn-width: 100% / $nb;
    .btn--groupe-img-container {
        height: $btn-height;
        width: $btn-width;
    }
}

@media screen and (min-width:1280px) {
    $nb: 5;
    $btn-height: 100vw / $nb;
    $btn-width: 100% / $nb;
    .btn--groupe-img-container {
        height: $btn-height;
        width: $btn-width;
    }
}