.page-groupes {
}
.page-groupes--title {
    background-color: $clear;
    color: $main;
    padding: 5px;
}
:root {
    --gap: .5rem;
}
.page-groupes--container {
    --nb: 2;
    // align-content: flex-start;
    // display:flex;
    // flex-direction: column;
    // flex-wrap: wrap;
    // justify-content: flex-start;
    // background-color: #555;
    // display: grid;
    // gap: var(--gap);
    // grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    // grid-template-columns: 1fr 1fr;
    column-count: var(--nb);
    column-gap: var(--gap);
    padding: var(--gap);
}
.btn--groupe-img-container {
    // --btn-height: calc((100vw - (var(--nb) - 1) * var(--gap)) / var(--nb));
    // --btn-width: calc((100% - (var(--nb) - 1) * var(--gap)) / var(--nb));
    --btn-width: 100%;
    margin-bottom: var(--gap);
    // height: var(--btn-height);
    width: var(--btn-width);
    &:hover {
        .btn--groupe-title {
            padding:20px 0;
        }
        .btn--groupe-title::after {
            bottom:0;
        }
    }
}

.btn--groupe-title {
    bottom:0;
    color: $clear;
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    text-shadow: 0px 0px 10px $dark, 1px 1px 1px $dark;
    transition: padding 0.2s;
    width:100%;
    z-index: 0;
    &::after {
        background-color: $dark-60;
        bottom:-100%;
        content:"";
        height:100%;
        left:0;
        position:absolute;
        transition: bottom 0.2s;
        width:100%;
        z-index: -1;
    }
}

@media screen and (min-width:640px) {
    .page-groupes--container {
        --nb: 3;
        // grid-template-columns: 1fr 1fr 1fr;
    }
    .btn--groupe-img-container {
        // height: $btn-height;
        // width: $btn-width;
    }
}

@media screen and (min-width:960px) {
    .page-groupes--container {
        --nb: 4;
        // grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .btn--groupe-img-container {
        // height: $btn-height;
        // width: $btn-width;
    }
}

@media screen and (min-width:1280px) {
    .page-groupes--container {
        --nb: 5;
        // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .btn--groupe-img-container {
        // height: $btn-height;
        // width: $btn-width;
    }
}