// Couleurs
// https://mycolor.space/

// Natural Palette 
// #9B1D17
// #BB8378
// #FFF4EE
// #D2B48C

// Grey Friends
// #9B1D17
// #56423E
// #BEA6A1

// Highlight Palette
// #9B1D17
// #DF9A8C
// #D2B48C
// #582B39

// Neighbor Palette
// #9B1D17
// #D19F9F
// #A96466
// #574141

// Discreet Palette
// #9B1D17
// #BB8378
// #FFF4EE
// #582B39

// $black:#000;
// $black-trans:rgba(0,0,0,0.4);
// $white-trans:rgba(255,255,255,0.7);
// $grey-dark: #666;
// $grey-darkest: #333;
// $grey: #999;
// $grey-light: #ccc;
// $grey-lightest: #f6f6f6;
// $white: #fff;

// Palette
$main: #555;
$second: #888;
$clear: #eee;
$dark: #222;
$dark-90: rgba(34, 34, 34, 0.9); // rgb(34, 34, 34) = #222222 ($dark)
$dark-60: rgba(34, 34, 34, 0.6); // rgb(34, 34, 34) = #222222 ($dark)

// Couleurs zonées
$default-txt: $main;

$app-bg: $clear;

$galerie-bg: $dark-90;

$header-bg: $main;
$header-txt: $clear;
$footer-bg: $dark;
$footer-txt: $clear;